.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cards img {
  height: 100px;
}

.card {
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  padding: 20px;
  width: 200px;
  border: 1px solid rgb(230,230,230);
}

.card p {
  opacity: 0.5;
}
